<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/bs_css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/bs_css/main.css">
    <script type="text/javascript" src="static/bs_js/jquery.min.js"></script>
    <script type="text/javascript" src="static/bs_js/bootstrap.min.js" charset="utf-8"></script>
    <title>One Page</title>
  </head>

<body>
    <div class="container">
        <header id="hero">
            一览
        </header>
        <div class="content" id="item_list">
	    {% for article in article_list %}
	    <div class="item">	      
	      <div class="light">
	          <span class="label_area">
		      {% for label in article.label_list %}
   	                  <span class="label {{ label.type }}">
		              {{ label.text }}
		          </span>
		      {% endfor %}
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#item_list" href="#{{ article.summaryid }}">		
	                  {{ article.title }}
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="{{ article.summaryid }}" class="summary accordion-body collapse">
		<a class="l_link" href="{{ article.link }}"> {{ article.ref }} </a>

		<p>
		  {{ article.summary }}
		</p>
	      </div><!--summary-->
	  </div><!--ITEM-->
	  {% endfor %}
	  
	</div><!--Content-->

	
    </div>
</body>
</html>    