<!DOCTYPE html>
<html Content-Type: text/html; charset=UTF-8>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <title>One Glimpse</title>
  </head>
  <body>
    <header id="top">
      <nav>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Registe</a></li>	
      </nav>
    </header>
	
    <table id="main">
      <tbody>
	<tr>
	  <td  colspan="4">
	    <div id="hero">
	      	      一览
	    </div>
	  </td>
	</tr>
	
	{% for title in container.title_list %}
	<!--NEW-->
	<tr>
	  <td class="c1"></td>
	  <!-- Label -->
	  <td class="c2">
	    <!--labels-->
	    <!--
	    vip #d35
	    ip #29a
	    normal #27a
	    -->
	    {% for label in title.label_list %}
	      <span class="label" style="background-color:#{{ label.color }};">
	      {{ label.text }}
	      </span>
	    {% endfor %}
	  </td>
	  
	  <td class="c3">
	    <a href="{{ title.link }}" style="color: #616161; font-size:14px; font-family:'宋体'; line-height: 26px;text-decoration:none;">
		{{ title.text }}
	    </a>
	  </td>
	  
	  <td class="c4">
	    <a href="{{ title.link }}" class="link_summary">摘要</a>
	    <span>.</span>
	    <a href="{{ title.origin }}" class="link_origin">原文</a>	    
	  </td>
	</tr>
	{% endfor%}
      </tdoby>
    </table>

    <footer>
    <p>For win! Just do it!</p>
    </footer>
  </body>
</html>