<html Content-Type: text/html; charset=UTF-8>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table style="width:780px; background-color:#fff; margin:auto;">
      <tbody>
	<!-- ITEM START-->
	<tr>
	  <td  colspan="3">
	    <div style="background-color:#e58d8d; height:64px; padding-left:80px; padding-top:12px; font-family:Arial; color:#FFFFFF; font-size:70px;">
	      Dear Princess
	      <!--
	      <p style="color: #ffffff; font-size: 70px;">
	      Dear Princess
	      </p>-->
	    </div>
	  </td>
	</tr>

	<tr>
	  <td width = "80px"></td>

	  <td style="border-bottom: 1px solid #ddd;">
	    <div>
	      <!-- Title -->
	      <p style="color: #212e32; font-size:20px; font-family:'Microsoft YaHei'">历史上的今天</p>
	      <span style="background-color:#bb5522; color:#ffffff;font-size:12px; padding:2px;">网易新闻</span>
	      <span style="background-color:#77dd44; color:#ffffff;font-size:12px; padding:2px; margin-left:-3px;">05 - 12</span>
	      <!-- Summary-->
	      <p style="color: #616161; font-size:14px; font-family:'宋体'; line-height: 26px;">
		五一劳动节这天，西安市部分出租车停运。经了解，停运的原因是出租车司机们认为他们每月上缴的份子钱太多等等。此前，西安出租汽车管理处新闻发言人称，出租车载客送客完全取决于司机努力，经营效益好坏，最为关键和唯一的决定因素都是司机。
	      </p>
	    </div>
	  </td>

	  <td width = "80px"></td>
	</tr>
	<!-- ITEM END -->
	<!-- ITEM START-->
	<tr>
	  <td  colspan="3">
	    <div style="background-color:#ffffff; height:30px"></div>
	  </td>
	</tr>

	<tr>
	  <td width = "80px"></td>

	  <td style="border-bottom: 1px solid #ddd;">
	    <div>
	      <p style="color: #212e32; font-size:20px; font-family:'Microsoft YaHei'">历史上的今天</p>
	      <p style="color: #616161; font-size:14px; font-family:'宋体'; line-height: 26px;">
		五一劳动节这天，西安市部分出租车停运。经了解，停运的原因是出租车司机们认为他们每月上缴的份子钱太多等等。此前，西安出租汽车管理处新闻发言人称，出租车载客送客完全取决于司机努力，经营效益好坏，最为关键和唯一的决定因素都是司机。
	      </p>
	    </div>
	  </td>

	  <td width = "80px"></td>
	</tr>
	<!-- ITEM END -->
	<!-- ITEM START-->
	<tr>
	  <td  colspan="3">
	    <div style="background-color:#ffffff; height:30px"></div>
	  </td>
	</tr>

	<tr>
	  <td width = "80px"></td>

	  <td style="border-bottom: 1px solid #ddd;">
	    <div>
	      <p style="color: #212e32; font-size:20px; font-family:'Microsoft YaHei'">历史上的今天</p>
	      <p style="color: #616161; font-size:14px; font-family:'宋体'; line-height: 26px;">
		五一劳动节这天，西安市部分出租车停运。经了解，停运的原因是出租车司机们认为他们每月上缴的份子钱太多等等。此前，西安出租汽车管理处新闻发言人称，出租车载客送客完全取决于司机努力，经营效益好坏，最为关键和唯一的决定因素都是司机。
	      </p>
	    </div>
	  </td>

	  <td width = "80px"></td>
	</tr>
	<!-- ITEM END -->
      </tbody>
    </table>
  </body>
</html>