<html Content-Type: text/html; charset=UTF-8>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table style="width:780px; background-color:#ffffff; margin:auto;border-collapse:collapse;">
      <tbody>
	<!-- ITEM START-->
	<tr>

	  <td  colspan="3">
	    <div style="background-color:#e58d8d; height:38px; padding-top:12px; font-family:Arial; color:#FFFFFF; font-size:30px;width:100px;">
	      <p style="font-family:kai,kaiti,楷体,微软雅黑,宋体">一览</p>
	    </div>
	  </td>
	</tr>

	<!--NEW-->
	<tr style="border-bottom: 1px solid #ddd;padding-top: 16px;clear: both;border-top: 1px solid #fff;text-align:right; height:60px;">
	  <!-- Label -->
	  <td width="30px"></td>
	  <td width="300px" style="text-align:right;">
	    <span style="color:#27a; font-size:14px; padding:2px 4px; border-radius:2px;">
	    互联网
	    </span>
	      /
	    <span style="color:#bb3366; font-size:14px; padding:2px 4px; border-radius:2px; margin-left:2px;">
	    马耳他
	    </span>
	      /
	    <span style="color:#99bb22; font-size:14px; padding:2px 4px; border-radius:2px; margin-left:2px;">	    
	    物联网
	    </span>
	    <span style="font-size:12px; margin-left:6px;color:#aaa;">
	    |36Kr|
	    </span>	      	      
	  </td>
	  
	  <td style="text-align:left;padding-left:10px;">
	    <a href="#" style="color: #616161; font-size:14px; line-height:20px; font-family:'Microsoft YaHei';text-decoration:none;">
		俞敏洪：我是怎么被“中国合伙人”的
	    </a>
	  </td>
	</tr>



	<!--NEW-->
	<tr style="border-bottom: 1px solid #ddd;padding-top: 16px;clear: both;border-top: 1px solid #fff;text-align:right; height:60px;">
	  <!-- Label -->
	  <td width="30px"></td>
	  <td width="300px" style="text-align:right;">
	    <span style="color:#27a; font-size:14px; padding:2px 4px; border-radius:2px;">
	    互联网
	    </span>
	      /
	    <span style="color:#bb3366; font-size:14px; padding:2px 4px; border-radius:2px; margin-left:2px;">
	    马耳他
	    </span>
	      /
	    <span style="color:#99bb22; font-size:14px; padding:2px 4px; border-radius:2px; margin-left:2px;">	    
	    物联网
	    </span>
	    <span style="font-size:12px; margin-left:6px;color:#aaa;">
	    |36Kr|
	    </span>	      	      
	  </td>
	  
	  <td style="text-align:left;padding-left:10px;">
	    <a href="#" style="color: #616161; font-size:14px; line-height:20px; font-family:'Microsoft YaHei';text-decoration:none;">
		俞敏洪：我是怎么被“中国合伙人”的
	    </a>
	  </td>
	</tr>

	<!--NEW-->
	<tr style="border-bottom: 1px solid #ddd;padding-top: 16px;clear: both;border-top: 1px solid #fff;text-align:right; height:60px;">
	  <!-- Label -->
	  <td width="30px"></td>
	  <td width="300px" style="text-align:right;">
	    <span style="color:#27a; font-size:14px; padding:2px 4px; border-radius:2px;">
	    互联网
	    </span>
	      /
	    <span style="color:#bb3366; font-size:14px; padding:2px 4px; border-radius:2px; margin-left:2px;">
	    马耳他
	    </span>
	      /
	    <span style="color:#99bb22; font-size:14px; padding:2px 4px; border-radius:2px; margin-left:2px;">	    
	    物联网
	    </span>
	    <span style="font-size:12px; margin-left:6px;color:#aaa;">
	    |36Kr|
	    </span>	      	      
	  </td>
	  
	  <td style="text-align:left;padding-left:10px;">
	    <a href="#" style="color: #616161; font-size:14px; line-height:20px; font-family:'Microsoft YaHei';text-decoration:none;">
		俞敏洪：我是怎么被“中国合伙人”的
	    </a>
	  </td>
	</tr>

	<tr style="font-size: 12px;color: #445;border-top:2px solid #bbbbbb;height: 30px;text-align:center;">

	    <td colspan="4">
	      <p>
	      每日邮件推送(Beta)，推送当日较为热门的几条新闻给用户。最大的特点是--精简!
	      </p>
	      
	    </td>
	</tr>

      </tbody>
    </table>
  </body>
</html>