<html Content-Type: text/html; charset=UTF-8>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table style="width:780px; background-color:#fff; margin:auto;">
      <tbody>
	<!-- ITEM START-->
	<tr>
	  <td  colspan="3">
	    <div style="background-color:#e58d8d; height:64px; padding-left:80px; padding-top:12px; font-family:Arial; color:#FFFFFF; font-size:70px;">
	      	      Dear Princess
	    </div>
	  </td>
	</tr>

	{% for article in article_list %}
	<tr>
	  <td width = "80px"></td>

	  <td style="border-bottom: 1px solid #ddd;">
	    <div>
	      <!-- Title -->
	      <p style="color: #212e32; font-size:20px; font-family:'Microsoft YaHei'; margin-top:30px;">
	      {{ article.title }}
	      </p>

	      <!--Ref-->
	      <span style="background-color:#7799aa; color:#ffffff;font-size:12px; padding:2px;">
	      {{ article.ref }}
	      </span>

	      <!--Date-->
	      <span style="background-color:#77dd44; color:#ffffff;font-size:12px; padding:2px; margin-left:-3px;">
	      {{ article.date }}
	      </span>
	      
	      <!-- Summary-->
	      <p style="color: #616161; font-size:14px; font-family:'宋体'; line-height: 26px;">
	      {{ article.summary }}
	      </p>
	      <!-- Link-->
	      <a href='{{ article.link }}' style="color: #666666; font-size:12px; margin-bottom:10px;">
	      查看原文
	      </a>
	    </div>
	  </td>

	  <td width = "80px"></td>
	</tr>
	{% empty %}
	  <p>EMPTY...</p>
	{% endfor %} <!--for article_list-->
	<!-- ITEM END -->
	
      </tbody>
    </table>
  </body>
</html>