<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="bs_css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bs_css/main.css">
    <script type="text/javascript" src="bs_js/jquery.min.js"></script>
    <script type="text/javascript" src="bs_js/bootstrap.min.js" charset="utf-8"></script>
    <title>One Glimpse</title>
  </head>

<body>
    <div id="top_bar" class="navbar navbar-fixed-top">
    </div>
    
    <div class="container">

        <header id="hero">
            一览
        </header>
        <div class="content" id="abcd">

	  
	    <div class="item">
	      
	      <div class="light">
		  <span class="label_area">
	              <span class="label l_1">互联网</span>
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>

	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_1">		
	                  高德为何投入阿里的怀抱？
		      </a>
	          </span>
	      
	      </div><!--light-->

	      <div id="summary_1" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	      
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_2">		
	                  如果你从事汽车行业，这12本书值得一读
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_2" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>		
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_3">		
	                  给打车APP弱势团队提个醒：要不转战洗车APP谋蓝海？
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_3" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	  
	    <div class="item">
	      
	      <div class="light">
		  <span class="label_area">
	              <span class="label l_1">互联网</span>
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>

	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_1">		
	                  高德为何投入阿里的怀抱？
		      </a>
	          </span>
	      
	      </div><!--light-->

	      <div id="summary_1" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	      
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_2">		
	                  如果你从事汽车行业，这12本书值得一读
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_2" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>		
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_3">		
	                  给打车APP弱势团队提个醒：要不转战洗车APP谋蓝海？
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_3" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	  
	    <div class="item">
	      
	      <div class="light">
		  <span class="label_area">
	              <span class="label l_1">互联网</span>
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>

	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_1">		
	                  高德为何投入阿里的怀抱？
		      </a>
	          </span>
	      
	      </div><!--light-->

	      <div id="summary_1" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	      
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_2">		
	                  如果你从事汽车行业，这12本书值得一读
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_2" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>		
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_3">		
	                  给打车APP弱势团队提个醒：要不转战洗车APP谋蓝海？
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_3" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	  
	    <div class="item">
	      
	      <div class="light">
		  <span class="label_area">
	              <span class="label l_1">互联网</span>
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>

	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_1">		
	                  高德为何投入阿里的怀抱？
		      </a>
	          </span>
	      
	      </div><!--light-->

	      <div id="summary_1" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	      
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_2">		
	                  如果你从事汽车行业，这12本书值得一读
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_2" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>		
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_3">		
	                  给打车APP弱势团队提个醒：要不转战洗车APP谋蓝海？
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_3" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	  
	    <div class="item">
	      
	      <div class="light">
		  <span class="label_area">
	              <span class="label l_1">互联网</span>
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>

	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_1">		
	                  高德为何投入阿里的怀抱？
		      </a>
	          </span>
	      
	      </div><!--light-->

	      <div id="summary_1" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	      
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_2">		
	                  如果你从事汽车行业，这12本书值得一读
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_2" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->


	    <div class="item">
	      
	      <div class="light">
	          <span class="label_area">
	              <span class="label l_2">高德</span>		
	              <span class="label l_2">高德</span>
	              <span class="label l_3">猎头战</span>		
	          </span>
	      
	          <span class="title_area">
	              <a class="title accordion-toggle" data-toggle="collapse" data-parent="#abcd" href="#summary_3">		
	                  给打车APP弱势团队提个醒：要不转战洗车APP谋蓝海？
		      </a>
	          </span>
	      </div><!--light-->
	      

	      <div id="summary_3" class="summary accordion-body collapse">
		  将猎头推荐工作简化为提供一份简历真的是大错特错，而企业方需要的也不仅仅是一份简历；另外悬赏模式在其它众包领域也是弊端多多，移植到猎头行业也无法避免.
	      </div><!--summary-->
	  </div><!--ITEM-->



	  
	</div><!--Content-->
    </div><!--content container-->
    
    
    <div id="footer">
	<a href="http://marvin-space.info/blog">Marvin</a>'s Coloful Life!
    </div>
	
</body>
</html>    